.btn {
  display: flex;
  background-color: transparent;
  color: $color__salmon;
  border: 3px solid $color__salmon;
  padding: .5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: $color__salmon;
    color: $color__white;
  }
}

button {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}
